<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
    <script type="text/javascript" src="https://mat1.gtimg.com/pingjs/ext2020/test2017/search_children3.js" charset="utf-8"></script>
  </head>
  <body>
    <script>
      window.onload = (e) =>{
        document.querySelector(".desc").style.display = "none";
      }
    </script>
  </body>
</html>